@tailwind base;
@tailwind components;
@tailwind utilities;


/* Navbar.css */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    height: 40px; /* Adjust logo size */
  }
  
  .nav-links {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .link {
    text-decoration: none;
    color: #000;
    margin: 0 15px;
    font-size: 16px;
    font-weight: 500;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  
  /* Mobile view */
@media (max-width: 540px) {
  .intro_page {
    flex-direction: column !important; /* Stack items vertically on mobile */
    
  }

}

.lottie-animation {
  border-radius: 10px;
}
